# Q1

# A database is an organized collection of data that is stored and accessed electronically. It is designed to efficiently manage, store, retrieve, and manipulate large amounts of information. Databases are widely used in various applications and industries to handle structured and unstructured data.

# SQL (Structured Query Language):
SQL databases are based on a relational model and use a structured schema to define the tables, columns, and relationships between them. 
SQL databases use SQL as the standard language for managing the data. Examples of SQL databases include MySQL, Oracle Database, and Microsoft SQL Server.

# NoSQL (Not only SQL):
NoSQL databases, on the other hand, provide a more flexible and scalable approach for managing data. They are designed to handle large volumes of unstructured and semi-structured data, such as JSON documents, key-value pairs, or graph data.
NoSQL databases support various query languages, and some popular examples include MongoDB, Cassandra, and Redis.

# Q2

# DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used to define and manage the structure of a database. DDL statements are used to create, modify, or delete database objects such as tables, indexes, and constraints.

# 1) CREATE: 
The CREATE statement is used to create new database objects, such as tables, views, indexes, or procedures. It specifies the name of the object and defines its structure and properties

# Example
CREATE TABLE Students (
  id INT,
  name VARCHAR(50),
  email VARCHAR(100)
);

# 2) DROP: 
The DROP statement is used to delete an existing database object. It removes the object and its associated data from the database.

# Example
DROP TABLE Students;

# 3) ALTER: 
The ALTER statement is used to modify the structure of an existing database object. It allows you to add, modify, or delete columns, constraints, or indexes.

# Example
ALTER TABLE Students      
ADD COLUMN percentage INT;

# 4) TRUNCATE: 
The TRUNCATE statement is used to remove all data from a table, while keeping its structure intact. Unlike the DROP statement, TRUNCATE preserves the table structure and can be used to quickly delete large amounts of data.

# Example
TRUNCATE TABLE Students;

# Q3

# DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to manipulate or modify data within a database. DML statements are used to insert, update, and delete data in database tables.

# 1) INSERT:
The INSERT statement is used to add new records into a table. It specifies the table name and the values to be inserted into the corresponding columns

# Example
INSERT INTO Students(id,name,email)                 
VALUES (1,'vishal','vishal@gmail.com')

# 2) UPDATE:
The UPDATE statement is used to modify existing records in a table. It allows you to update the values of one or more columns based on certain conditions.

# Example
UPDATE Students   
SET email='vishalsingh@gmail.com'    
WHERE id=1;

# 3) DELETE:
The DELETE statement is used to remove one or more records from a table based on specified conditions. It permanently deletes the specified rows from the table.

# Example
DELETE FROM Students   
WHERE id=1;

# Q4

# DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to retrieve and query data from a database. DQL is primarily focused on selecting and retrieving data based on specified criteria.

# SELECT:
The SELECT statement is used to retrieve data from a database table or multiple tables. It specifies the columns to be retrieved and can also include filtering and sorting criteria.

# Example
SELECT column1, column2, ...  
FROM table_name   
WHERE condition;

# If we don't write the WHERE condition then all the data will be selected from those particular columns

# Q5

# Primary Key:
A primary key is a column or a set of columns in a database table that uniquely identifies each record in the table. It provides a way to uniquely identify and differentiate one record from another.    
Primary key must be unique and the data in primary key must not be NULL.

# Foreign Key:
A foreign key is a column or a set of columns in a database table that refers to the primary key of another table. It establishes a relationship between two tables, known as a parent-child relationship. The foreign key in the child table references the primary key of the parent table.

# Q6

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test")
mydb.close()

# This is the code to connect mysql to python and create a database named as "test"

# 1) Cursor():
The cursor() method is used to create a cursor object, which allows you to execute SQL statements and retrieve data from the database. A cursor acts as a pointer or handle to the result set returned by a query.

# 2) execute():
The execute() method is used to execute SQL statements or database commands through a cursor object. It takes an SQL query or command as a parameter and executes it within the connected database.

# Q7

# The order of execution of SQL clauses in an SQL query are as follows:
1) SELECT: The SELECT clause is the first clause to be executed in an SQL query. It specifies the columns to be retrieved from the table(s) and any expressions or calculations to be performed.
2) FROM: The FROM clause comes after the SELECT clause. It specifies the table(s) from which the data will be retrieved.
3) WHERE: The WHERE clause is executed after the FROM clause. It filters the data based on specified conditions or criteria. Rows that meet the conditions specified in the WHERE clause are included in the result set.
4) GROUP BY: The GROUP BY clause is executed after the WHERE clause. It is used to group rows based on one or more columns. This clause is typically used in combination with aggregate functions like COUNT, SUM, AVG, etc.
5) HAVING: The HAVING clause is executed after the GROUP BY clause. It filters the grouped data based on specified conditions. It is similar to the WHERE clause but operates on the grouped data.
6) ORDER BY: The ORDER BY clause is executed after the HAVING clause. It sorts the result set based on one or more columns.
7) LIMIT/OFFSET: The LIMIT and OFFSET clauses are executed after the ORDER BY clause. They are used to restrict the number of rows returned by the query and to specify the starting point of the result set.